.title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.new-form{
    align-items: center;
    width: 40%;
    margin: 0 auto;
    border: black;
    border-radius: 50rem;
    font-weight: bold;
}

.loading{
    align-items: center;
    width: 40%;
    margin: 0 auto;
}



.Buttons{
    text-align: center;
}
.bodyc{
    background-color: #99ffff ;
}





.card:hover{
    border-color: rgb(50, 81, 216);
}

.tweets{

    width: 100%;
    margin: 0 auto;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: bold;
    
}


.container{
    padding: 50px;
}

.footer{
    
    background-color: #1dacdb;
    bottom:0;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
    position: fixed;
    width: 100%;

}

.card{
    background-color:#41c1ec ;
    border-color:rgb(11, 11, 41);
    border-radius: 1rem;
    border-width: .2rem;
    padding: .5rem;
    
}