.title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.new-form, .loading{
    align-items: center;
    width: 40%;
    margin: 0 auto;
}



.Buttons{
    text-align: center;
}
.bodyc{
    background-color:#4dbfe6 ;
}

.card{
    background-color: #99ffff ;
}

.tweets{

    width: 100%;
    margin: 0 auto;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    
}


.container{
    padding: 50px;
}